---
import type { FooterOptions } from "../optionTypes";
import FooterElement from "./FooterElement.astro";

export interface Props {
  title: string;
  options: "show" | FooterOptions;
}

const { title, options } = Astro.props;
---

<footer
  class="mx-auto flex max-w-7xl items-center justify-center py-12 px-4 sm:px-6 lg:px-8"
>
  <div
    class="mt-8 flex flex-col text-center text-base text-zinc-500 sm:flex-row sm:gap-2 md:order-1 md:mt-0"
  >
    <span class="mb-3 sm:mb-0">&copy; 2022 {title}</span>
    {
      options !== "show" && options.privacyPolicy && (
        <FooterElement link={options.privacyPolicy} />
      )
    }
    {
      options !== "show" && options.imprint && (
        <FooterElement link={options.imprint} />
      )
    }
  </div>
</footer>
