---
import type { FooterLink } from "../optionTypes";

export interface Props {
  link: FooterLink;
}

const { link } = Astro.props;
---

<>
  <span class="hidden sm:block"> ●</span>
  <a class="underline-offset-2 hover:underline" href={link.href}>
    {link.label}
  </a>
</>
